<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DEV_URL" value="http://dev-dweb.cygrp.com" />
    <add key="QA_URL" value="http://qa-dweb.cygrp.com" />
    <add key="Browsers" value="Firefox;Chrome;Internet Explorer;Microsoft Edge" />
    <add key="DEV_HOST" value="10.3.2.6\\DEVDBServer" />
    <add key="DEV_HOST" value="10.3.2.6\\DEVDBServer" />
    <add key="DEV_HOST" value="10.3.2.6\\DEVDBServer" />
    <add key="DEV_HOST" value="10.3.2.6\\DEVDBServer" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>